*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    outline: none;
}
header{
    width: 100%;
    border: 1px solid #000;
}
.container{
    width: 1300px;
    margin: 0 auto;
    border: 1px solid rgb(156, 34, 34);
}
.header_s{
    display: flex;
    
}
.text{
    display: flex;
}
.header_s .logo{
    width: 10%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_s .logo img{
    width: 120px;
    height: 80px;
}
